@import url('https://fonts.googleapis.com/css?family=BBH+Hegarty&display=swap');
.asdbtn {

background: linear-gradient(45deg, #0000ff, #000000);
border: none;
color: white;
padding: 8px 14px;
border-radius: 6px;
box-shadow: 5px 0px 15px 5px #000000;
font-family: "BBH Hegarty", sans-serif;
font-weight: 400;
font-style: normal;
}
.shop-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
padding: 20px;
}
html, body {
    min-height: 100vh;
    background: linear-gradient(to top, #ffffff, #333333, #000000);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
